<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ADS-IDAC</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/schoolBadge.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.7.0/echarts.min.js"></script>
  <!--引入百度地图的jssdk，这里需要使用你在百度地图开发者平台申请的 ak-->
  <script src="http://api.map.baidu.com/api?v=2.0&ak=S9AqsqjyKkt9SR4Sn7dGh5ESA7vdyrzg"></script>
  <script src="../static/assets/js/ec_tree.js"></script>
  <script src="../static/assets/js/my_bmap.js"></script>
  <script src="../static/assets/js/utils.js"></script>
</head>

<body>
<div class="adcenter">
    <script src="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script>
</div>

  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1><a href="/index">ADS-IDAC</a></h1>
      <h2>风险决策, <span>武汉理工大学</span> xxx学院xxx团队</h2>

      <div class="nav-menu">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">Demonstrate</a></li>
{#          <li><a href="#resume">Resume</a></li>#}
          <li><a href="#services">Services</a></li>
{#          <li><a href="#portfolio">Portfolio</a></li>#}
{#          <li><a href="#contact">Contact</a></li>#}
        </ul>
      </div>
    </div>
  </header><!-- End Header -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Sed ut perspiciatis</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
    </div>
  </section><!-- End Contact Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
      <div class="left">
          <div id="title"><h1>演示系统</h1></div>
          <div id="dashboard">
              <div class = "grid">
                <div >VMID:</div>
                <div><input type="text" name="dataId" id="dataId" value="数据未加载..." readonly="readonly"/></div>
                <div>TreeID:</div>
                <div><input type="text" name="treeId" id="treeId" value="数据未加载..." readonly="readonly"/></div>
              </div>
              <div><a href="/en_version" target="_self">
                        <button type="button" id="S2E" class="btn btn-primary">Switch to English</button>
                    </a>
              </div>
              <div><button type="button" id="clearPolyline" class="btn btn-primary">清除绘图</button></div>
              <div><button type="button" id="charts" class="btn btn-primary">显示表格</button></div>
              <div><button type="button" id="getSimTree" class="btn btn-primary">获取最新仿真树</button></div>
          </div>
          <div id="vo">
              <div class="box">
                  <img id="voImg" src="../static/res/Figure1.png" alt="VO img"/>
              </div>
          </div>
      </div>
      <div class="right">
          <div id="tree">tree img</div>
		  <div id="map"></div>
      </div>
      <form>

      </form>
  </section>

  <div class="credits">
      <a href="http://www.cssmoban.com/" target="_blank" title="武汉理工大学"><img border="0" src="../static/assets/img/school.png"></a>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/venobox/venobox.min.js"></script>

  <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/assets/css/view.css" rel="stylesheet" />

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>